# Supabase Configuration (Obligatoire)
NEXT_PUBLIC_SUPABASE_URL=https://votre-projet.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=votre-cle-anon-publique
SUPABASE_SERVICE_ROLE_KEY=votre-cle-service-role-secrete

# WhatsApp Engine API URL
NEXT_PUBLIC_API_URL=http://localhost:3001

# Clés de paiement (Optionnel)
MONETBIL_SERVICE_KEY=1rvrpFVaD5LBUQK07pg7V5tloSO3xdYk
CHARIOW_SECRET_KEY=sk_q2lwdfto_89987f8e256d61f726af8d76b4e41c13
